body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.row {
  margin: 1% 1%;
}

#about-my-website {
  margin-top: 50px;
  background-image: linear-gradient(90deg,black,rgb(22,6,59),black);
  border-radius: 30px;
  border: 5px solid white;
}



img {
  border-radius: 50%;
  width: 350px;
}
