.container {
  background-image: linear-gradient(black,rgb(22,6,59),black);
  border: 3px solid white;
  margin-top: 50px;
  color: white;
  border-radius: 5px;
  height: 600px;
}

.chat-component {
  border: 1px solid white;
  text-align: center;
}

input {
  width: 90%;
}

li {
  list-style: none;
  display: inline-block;
}

.margin {
  margin: 2%;
}

h4 {
  text-decoration: underline;
  margin: 2%;
}

#top-gt {
  margin-top: 5%;
}
