body {
  background-attachment: fixed;
}

#contacts a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  transition: 0.4s ease;
  text-decoration: none;
}

#contacts a:hover {
  background-color: white;
  color: rgb(37,40,77);
  transition: 0.4s ease;
}

#carouselExampleIndicators {
  width:100%;
  margin-top: 30px;
}

#carouselExampleIndicators img {
  width:100%;
  margin-top: 43px;
  border-radius: 30px;
  border-color: #8BAD9D;
  border-width: 5px;
  border-style: solid;
}


#navbar li a {
  font-size: 1.1em;
}

#navbar {
  background-color:
}

#carouselExampleIndicators {
width: 1300px;
margin: 0 auto;
margin-top: 43px;
border-color: #8BAD9D;
border-width: 5px;
}

canvas {

  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
  background-color: black;
}

#intro {
  background-color: grey;
  border-radius: 30px;
  margin: 100px;
  margin-top: 40px;
}

#intro img {
  border-radius: 50%;
  width: 300px;
  margin: 30px;
}

#intro-text {
  display: inline-block;
}
