body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown-menu {
  background-color: rgb(22,6,59);
  border: 2px solid black;
}

.dropdown-menu a {
  color: white;
}

iframe {
  margin: 1%;
  height: 480px;
  width: 853px;
}

#yt-videos {
  margin-top: 4%;
  border-radius: 15px;
}

.verticaly-centered {
  text-align: center;
}

#sites img:hover{
 transition: 0.4s ease;
 box-shadow: 0 0 4px 4px rgb(255,255,255);
}

.headers {
  color: white;
  background-image: linear-gradient(black,rgb(22,6,59),black);
}
